@import url('../../css2');

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Anton', sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    margin: 0;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0pt;
    font-style: italic;
    font-size: 30pt;
    font-weight: bold;
    color: rgb(255, 0, 0);
    animation: border-flicker 2s linear infinite;
}

p {
    margin: 10;
    font-family: 'Anton', sans-serif;
    letter-spacing: 0pt;
    font-style: italic;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
    animation: p 2s linear infinite;
}

span {
    color: rgb(250, 0, 0);
    overflow: hidden;
    width: 400px
}

span a {
    p {
        margin: 10;
        font-family: 'Anton', sans-serif;
        letter-spacing: 0pt;
        font-style: italic;
        font-size: 12pt;
        font-weight: bold;
        color: rgb(255, 255, 255);
        animation: p 2s linear infinite;
        }  
    }
    a {
        margin: 10;
        font-family: 'Anton', sans-serif;
        letter-spacing: 0pt;
        font-style: italic;
        font-size: 12pt;
        font-weight: bold;
        color: rgb(255, 255, 255);
        animation: p 5s linear infinite;
        }  
    }

@keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

@keyframes border-flicker {
    0% {
        opacity:0.1;
        text-shadow: 0 0 10px rgb(255, 0, 0);
    }
    2% {
        opacity:1;
        text-shadow: 0 0 10px rgb(250, 0, 0);
    }
    4% {
        opacity:0.1;
        text-shadow: 0 0 10px rgb(255, 0, 0);
    }
    
    8% {
        opacity:1;
        text-shadow: 0 0 10px rgb(255, 0, 0);
    }
    70% {
        opacity:0.7;
        text-shadow: 0 0 10px rgb(255, 0, 0);
    }
    100% {
        opacity:1;
        text-shadow: 0 0 10px rgb(212, 0, 0);
    }
}

@keyframes p {
    0% {
        opacity:0.1;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    2% {
        opacity:1;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    4% {
        opacity:0.1;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    
    8% {
        opacity:1;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    70% {
        opacity:0.7;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    100% {
        opacity:1;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}
